<!-- <div class="container my-5">
    <div class="row">
        <div class="col" *ngFor="let data of product">
            <div class="card" style="width: 18rem;">
                <img [src]="Url+data.ImageDetail[0].ImageUrl" [alt]="data.productName">
                <div class="card-body">
                  <h5 class="card-title">{{data.productName}}</h5>
                  <p class="card-text">Description: {{data.category}}</p>
                  <p class="card-text">size: {{data.size}}</p>
                  <p class="card-text">Price: {{data.price| currency}}</p>
                  <a  class="btn btn-primary w-100">Check Product</a>
                </div>
              </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let data of product">
           <div class="card-body">
            <div class="card-image">
                <img [src]="Url+data.ImageDetail[0].ImageUrl" class="img-fluid" [alt]="data.productName">
            </div>
            <div class="card-title">
                <h4>Product Name:{{data.productName}}</h4>
            </div>
            <div class="card-text">
                <p>Description:{{data. description}}</p>
            </div>
            <div class="card-text">
                <p>companyName:{{data. companyName}}</p>
            </div>
            <div class="card-text">
                <p>Size:{{data. size}}</p>
            </div>
            <div class="card-text">
                <p>Price:{{data.price | currency}}</p>
            </div>
            
           </div>
        </div>
    </div>
</div> 